@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#main {
    position: absolute;
    height: 80vh;
    top: 15%;
    left: 10%;
    width: 80%;
}

#header{
    position: inherit;
    top: 0%;
    left: 39%;
    font-size: 8vw;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: -.5vw;
    text-decoration: underline;
    text-shadow: 3px 4px 4px rgba(0, 197, 36, 0.283);
}

#image {
    position: inherit;
    height: 100%;
    width: 100%;
}

#paracon {
    position: inherit;
    top: 95%;
    left: 25%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4vh;
}
